@import "../font.scss";

.filter__block {
  margin-bottom: 20px;
}

.Filter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 70px 40px 50px;

  h2 {
    font-size: 38px;
  }
}

.flex__card {
  padding-bottom: 100px;
}

.Card {
  &__content {
    margin: 0 30px;
    flex-wrap: wrap;
  }

  &__block {
    padding: 30px;
    max-width: 865px;
    height: 400px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 26px;
    margin: auto;
    margin-top: 40px;

    height: 100%;
    box-sizing: border-box;
    background: #fff;
  }

  &__block:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
  }
  &__author {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__infoDate {
    display: flex;
    align-items: center;
    column-gap: 20px;
    p {
      padding-bottom: 5px;

      padding-top: 5px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 18px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 21.21px;
  }
  &__subtitle {
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.87);
    font-size: 19px;
    font-weight: 400;
  }

  &__photo {
    img {
      margin-top: 15px;
      width: 100%;
      height: 400px;
      object-fit: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__category {
    h4 {
      font-size: 18px;
      font-weight: 600;
      color: rgb(94, 94, 94);
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  &__categories {
    ul {
      color: rgb(94, 94, 94);
      font-size: 15px;
      display: flex;
      align-items: center;
      column-gap: 45px;
      padding-left: 60px;

      li {
        border: 1px solid rgb(76, 153, 203);
        border-radius: 10px;
        padding: 7px;
      }
      li:empty::before {
        content: none;
      }
    }
  }

  &__organization {
    h4 {
      font-size: 18px;
      font-weight: 600;
      color: rgb(94, 94, 94);
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  &__org {
    ul {
      color: rgb(94, 94, 94);
      font-size: 15px;
      display: flex;
      align-items: center;
      column-gap: 45px;
      padding-left: 60px;

      li {
        border: 1px solid rgb(76, 153, 203);
        border-radius: 10px;
        padding: 7px;
      }
      li:empty::before {
        content: none;
      }
    }
  }
  &__btn {
    margin-top: 30px;
    column-gap: 10px;
    display: flex;
    justify-content: center;
    button:hover {
      transform: translateY(-3px) scale(1.05);
    }

    button {
      width: 380px;
      height: 45px;
      border-radius: 10px;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 18px;
      transition: transform 0.3s ease;

      img {
        width: 20px;
      }
    }
  }

  &__writer {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: black;
    font-size: 17px;
    font-weight: 500;
  }

  &__date {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-family: Golos Text, sans;
    font-weight: 400;
    color: rgb(137 137 137);
  }
  &__date img {
    width: 20px;
  }
  &__clock {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-family: Golos Text, sans;
    font-weight: 400;
    color: rgb(137 137 137);

    img {
      width: 20px;
    }
  }
}
@media screen and (max-width: 900px) {
  .Card__categories ul {
    flex-wrap: wrap;
  }
  .Card__categories li {
    margin-bottom: 10px;
  }
  .Card__organization h4 {
    margin-top: 0;
  }
}
@media screen and (max-width: 766px) {
  .Card__info {
    display: grid;
  }
  .Card__infoDate {
    margin-top: 10px;
    margin-left: 5px;
  }
  .Filter__content h2 {
    font-size: 33px;
  }
  .Card__title {
    margin-top: 10px;
  }
}

@media screen and (max-width: 688px) {
  .Filter__content h2 {
    font-size: 25px;
  }
  .Filter__content {
    padding: 40px 0 20px;
  }
}
@media screen and (max-width: 580px) {
  .Card__title {
    font-size: 23px;
  }
  .Card__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 442px) {
  .Filter__content h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 482px) {
  .Card__infoDate {
    font-size: 0.875rem;
  }
  .Card__title{
    font-family: 18px;
  }
  .Card__subtitle{
    font-size: 16px;
  }

}
